img{
    width:95%;
}


#header
{
    display: flex;
    margin:5%;
    flex-flow: column;
}

#tlacidlo
{
    margin: 5%;
}
.col-10
{
    text-align: left;
}
span
{
    font-style: italic;
    font-weight: bold;
}
button{
    margin:5%;
}
.popis{
    padding-left: 20%;
    text-align: right;
    
}
.pictures
{
      padding:1%;
      background-color: #282c34;
      min-height: 0vh;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
.polozky
{
    
    width:60%;
    border: 1px solid white;
    margin-left:20%;
    margin-right:20%;
    margin-top: 5%;
    
}

.tlacidlo {
    color: white;
    background-color: green;
    border:none;
    font-size:18px;
    padding:10px 30px;
    border-radius: 50px;
    margin: 20px;
  }
textarea{
    width: 50%;
}
input
{
    width:50%;
    margin-bottom: 5%;
}
h4
{
    Margin-bottom: 50%;
    text-align: left;
    margin-left: 25%;
}
.nadpis{
    margin-top: 5%;
}

#upload
{
    width:50%;
    margin-left: 25%;
}
